[submodule "kha"]
	path = kha
	url = https://github.com/KTXSoftware/kha
[submodule "Libraries/BitmapText"]
	path = Libraries/BitmapText
	url = https://github.com/RafaelOliveira/BitmapText
[submodule "Libraries/hscript"]
	path = Libraries/hscript
	url = https://github.com/HaxeFoundation/hscript
